.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background-color: #f5f5dc;
}

.cards{
    flex-direction: row;
    display: flex;
    margin-top: 5%;
}

.titulo-granja {
    font-family: 'Comic Sans MS', cursive, sans-serif; /* Cambia por la fuente que prefieras */
    font-size: 2.5rem;
    color: #ff3c00;
    font-weight: bold;
    letter-spacing: 2px;
}